## 1.问题
### 问题一：Series和DataFrame有哪些常见属性和方法？

Series 常见的属性有：index，values,name,dtype
     常见的方法有：s.mean(),s.max(),s.unique()..
     
DataFrame 常见的属性有：index,colunms,name...
       常见的方法有：unique(),value_counts()..
### 问题二：value_counts会统计缺失值吗？
不会

### 【问题三】 与idxmax和nlargest功能相反的是哪两组函数？

df.idxmin
df.nsmallest

In [6]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series()

In [4]:
df = pd.DataFrame

In [5]:
df.nsmallest

pandas.core.frame.DataFrame

### 【问题四】 在常用函数一节中，由于一些函数的功能比较简单，因此没有列入，现在将它们列在下面，请分别说明它们的用途并尝试使用。
sum(求和)/mean/median/mad/min/max/abs/std/var/quantile/cummax/cumsum/cumprod

In [37]:
df = np.array(range(12)).reshape(3,4)

In [38]:
df = pd.DataFrame(df,columns=['col_'+str(x) for x in range(4)])

In [39]:
df

   col_0  col_1  col_2  col_3
0      0      1      2      3
1      4      5      6      7
2      8      9     10     11

 ### Series

In [40]:
df.col_0.sum()#求和

12

In [41]:
df.col_0.mean()#求平均

4.0

In [42]:
df.col_0.median()#求中位数

4.0

In [43]:
df.col_0.min()#求最小值

0

In [44]:
df.col_0.max()# 求最大值

8

In [45]:
df_neg = pd.DataFrame([-12,-13,-14,-15]).T

In [47]:
df_neg.columns =['col_'+str(x) for x in range(4)]

In [49]:
df = pd.concat([df,df_neg])

In [58]:
df

   col_0  col_1  col_2  col_3
0      0      1      2      3
1      4      5      6      7
2      8      9     10     11
3    -12    -13    -14    -15

In [51]:
df.index = [*range(4)]

In [53]:
df.col_0.abs()#求绝对值

0     0
1     4
2     8
3    12
Name: col_0, dtype: int64

In [54]:
df.col_0.std()#求标准差

8.640987597877148

In [55]:
df.col_0.var()#求方差

74.66666666666667

In [56]:
df.col_0.quantile()#f分为数

2.0

In [57]:
df.col_0.cummax()#返回一个DataFrame或Series轴上的累积最大值。

0    0
1    4
2    8
3    8
Name: col_0, dtype: int64

In [59]:
df.col_0.cummin()#返回一个DataFrame或Series轴上的累积最小值。

0     0
1     0
2     0
3   -12
Name: col_0, dtype: int64

In [60]:
df.col_0.cumsum()#返回一个DataFrame或Series轴上的累积乘

0     0
1     4
2    12
3     0
Name: col_0, dtype: int64

In [62]:
df.col_1.cumprod()#返回一个DataFrame或Series轴上的累积和

0      1
1      5
2     45
3   -585
Name: col_1, dtype: int64

## DataFrame
### 与上面的类型求每一列的一些统计学指标

In [63]:
df.sum()

col_0    0
col_1    2
col_2    4
col_3    6
dtype: int64

In [64]:
df.mean()

col_0    0.0
col_1    0.5
col_2    1.0
col_3    1.5
dtype: float64

In [65]:
df.median()

col_0    2.0
col_1    3.0
col_2    4.0
col_3    5.0
dtype: float64

In [66]:
df.mad()#返回请求轴值的平均绝对偏差

col_0    6.00
col_1    6.75
col_2    7.50
col_3    8.25
dtype: float64

## 【问题五】 df.mean(axis=1)是什么意思？它与df.mean()的结果一样吗？第一问提到的函数也有axis参数吗？怎么使用
### axis的使用，axis=1,表示操作从左到右进行，axis=0,表示操作从上到下进行

In [67]:
df.mean(axis=1)#从左到右

0     1.5
1     5.5
2     9.5
3   -13.5
dtype: float64

In [68]:
df.mean(axis=0)#从上到下

col_0    0.0
col_1    0.5
col_2    1.0
col_3    1.5
dtype: float64

# 2.练习

#### 【练习一】 现有一份关于美剧《权力的游戏》剧本的数据集，请解决以下问题：
#### （a）在所有的数据中，一共出现了多少人物？
#### （b）以单元格计数（即简单把一个单元格视作一句），谁说了最多的话？
#### （c）以单词计数，谁说了最多的单词？

In [69]:
df = pd.read_csv("F:\datawhale\data\Game_of_Thrones_Script.csv")

In [70]:
df.head()

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
1,2011/4/17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...
2,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?
3,2011/4/17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.
4,2011/4/17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.

###  （a）在所有的数据中，一共出现了多少人物？

In [73]:
len(df.Name.unique())

564

### （b）以单元格计数（即简单把一个单元格视作一句），谁说了最多的话？

In [100]:
df.Name.value_counts().index[0]

'tyrion lannister'

### （c）以单词计数，谁说了最多的单词？

In [120]:
name_words = {}
for name in df.Name.unique():
    num_words = 0
    for sentence in df[df.Name == name].Sentence.values:
        num_words += len(sentence.split())
    name_words[name] = num_words

In [141]:
df_name_words = pd.DataFrame([name_words]).T

In [159]:
df_name_words.head()

                num
a voice           5
addam marbrand    9
aemon           615
aeron           161
aerson           45

In [166]:
df_name_words.columns = ['num']

In [170]:
df_name_words.sort_values(by=['num'],ascending=True,inplace=True)

In [176]:
df_name_words.tail(1).index[0]

'tyrion lannister'

### 【练习二】现有一份关于科比的投篮数据集，请解决如下问题：
### （a）哪种action_type和combined_shot_type的组合是最多的？

In [184]:
df2 = pd.read_csv("F:\datawhale\data\Kobe_data.csv",index_col='shot_id')

In [185]:
df2.action_type.value_counts().head()

Jump Shot               18880
Layup Shot               2567
Driving Layup Shot       1978
Turnaround Jump Shot     1057
Fadeaway Jump Shot       1048
Name: action_type, dtype: int64

In [188]:
df2[df2.action_type == 'Jump Shot'].combined_shot_type.value_counts()

Jump Shot    18880
Name: combined_shot_type, dtype: int64

### （b）在所有被记录的game_id中，遭遇到最多的opponent是一个支？

In [191]:
df2.game_id.unique()[0]

20000012

In [194]:
id_opponent = {}
for game_id in df2.game_id.unique():
    id_opponent[game_id] = df2[df2.game_id == game_id].opponent.value_counts().index[0]

In [203]:
df_id_opponent = pd.DataFrame([id_opponent]).T

In [206]:
df_id_opponent.columns = ['opponent']

In [207]:
df_id_opponent.head()

         opponent
20000012      POR
20000019      UTA
20000047      VAN
20000049      LAC
20000058      HOU